<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <h1>Completa la prenotazione</h1>
    <%= form_with(model: [@reservation], local: true) do |form| %>
      <% if @reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this shuttle from being saved:</h2>

          <ul>
            <% @reservation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :shuttle_id %>
        <%= form.collection_select :shuttle_id, Shuttle.all, :id, :name, {selected: params[:shuttle_id]}, {class:"form-control"}  %>
      </div>


      <div class="field">
        <%= form.label :name, "*Nome" %>
        <%= form.text_field :name, value: params[:name], class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :surname, "*Cognome" %>
        <%= form.text_field :surname, value: params[:surname], class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :people, "*Numero di posti" %>
        <%= form.number_field :people, value: params[:people], class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :telephone, "*Cellulare. Prefisso nazionale obbligatorio es. +39 " %>
        <%= form.text_field :telephone, value: params[:telephone], class: 'form-control' %>
      </div>




        <%= form.submit 'Invia', class:"btn btn-primary btn-lg btn-block"  %>

    <% end %>

  </div>
</div>
