<%= form_with(model: [:admin,shuttle], local: true) do |form| %>
  <% if shuttle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shuttle.errors.count, "error") %> prohibited this shuttle from being saved:</h2>

      <ul>
        <% shuttle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :max_people %>
    <%= form.number_field :max_people, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :people %>
    <%= form.number_field :people, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Invia", class: 'btn btn-primary' %>
  </div>
<% end %>
