<h1>Editing Shuttle</h1>

<%= render 'form', shuttle: @shuttle %>

<%= link_to 'Show', [:admin, @shuttle], class:"btn btn-info" %> |
<%= link_to 'Back', admin_shuttles_path, class:"btn btn-secondary" %>
