<p id="notice"><%= notice %></p>

<h1>Shuttles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Max people</th>
      <th>People</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shuttles.each do |shuttle| %>
      <tr>
        <td><%= shuttle.name %></td>
        <td><%= shuttle.company %></td>
        <td><%= shuttle.max_people %></td>
        <td><%= shuttle.people %></td>
        <td><%= shuttle.time %></td>
        <td><%= link_to 'Show', [:admin,shuttle],class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_admin_shuttle_path(shuttle), class:"btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', [:admin, shuttle], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shuttle', new_admin_shuttle_path, class:"btn btn-primary" %>
