<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shuttle.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @shuttle.company %>
</p>

<p>
  <strong>Max people:</strong>
  <%= @shuttle.max_people %>
</p>

<p>
  <strong>People:</strong>
  <%= @shuttle.people %>
</p>

<p>
  <strong>Time:</strong>
  <%= @shuttle.time %>
</p>
Reservations:
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>People</th>
      <th>Telephone</th>
      <th>Created_at</th>
    </tr>
  </thead>

  <tbody>
    <%@shuttle.reservations.each do |reservation|%>
      <tr>
        <td><%= reservation.name %></td>
        <td><%= reservation.surname %></td>
        <td><%= reservation.people %></td>
        <td><%= reservation.telephone %></td>
        <td><%= reservation.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_shuttle_path(@shuttle), class:"btn btn-secondary" %> |
<%= link_to 'Back', admin_shuttles_path, class:"btn btn-secondary" %>
